<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <title id="titulobanco">Almoxarifado</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
        crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>


<body class="paginabanco">


    <!-- NAVBAR -->

    <nav class="navbar navbar-expand-lg bg-body-tertiary">

        <div class="container-fluid">

            <img src="{{ url_for('static', filename='imagens/senailogo.png') }}"
                 id="imgnavbar">


            <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>

            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">


                    <!-- LOGIN -->

                    <li class="nav-item">

                        <a class="nav-link active"
                           aria-current="page"
                           href="/index">

                            Login

                        </a>

                    </li>


                    <!--BANCO-->

                    <li class="nav-item">

                        <a class="nav-link"
                           href="/banco"
                           style="color: rgb(41, 38, 38);">

                            Estoque 

                        </a>

                    </li>


                    <!-- CADASTRAR ITEM -->

                    <li class="nav-item">

                        <a class="nav-link"
                           href="/adicionaritens"
                           style="color: rgb(41, 38, 38);">

                            Cadastrar um item

                        </a>

                    </li>


                    <!-- MOVIMENTAÇÃO -->

                    <li class="nav-item">

                        <a class="nav-link"
                           href="/movimentacao"
                           style="color: rgb(41, 38, 38);">

                            Movimentação

                        </a>

                    </li>


                    <!-- SOMENTE ADMINISTRADOR -->

                    {% if session.get('usuario_role') == 'admin' %}

                        <li class="nav-item">

                            <a class="nav-link"
                               href="cadastrar_usuarios"
                               style="color: rgb(41, 38, 38);">

                                Cadastrar Usuários

                            </a>

                        </li>

                    {% endif %}


                    </li>


                </ul>

            </div>

        </div>

    </nav>


    <!-- NAVBAR AZUL -->

    <nav id="navbar" data-bs-theme="dark">
    </nav>


    <!-- TÍTULO -->

    <h1 id="titulo">
        Almoxarifado
    </h1>


    <!-- PESQUISA -->

    <div class="container-pesquisa">

        <input
            type="text"
            id="inputPesquisa"
            onkeyup="filtrarTabela()"
            placeholder="Pesquise por nome do item...">

    </div>


    <br>
    <br>
    <br>


    <!-- TABELA -->

    <table id="tabelinha">

        <thead>

            <tr>

                <th>Id</th>

                <th>Nome do item</th>

                <th>Quantidade</th>

                <th>Estoque Mínimo</th>

                <th>Descrição</th>

                <th>Preço</th>

                <th>Categoria</th>

                <th>Foto</th>

            </tr>

        </thead>


        <tbody>

            {% for item in resposta %}

            <tr>

                <td>{{ item[0] }}</td>

                <td>{{ item[1] }}</td>

                <td>{{ item[2] }}</td>

                <td>{{ item[3] }}</td>

                <td>{{ item[4] }}</td>

                <td>R$ {{ item[5] }}</td>

                <td>{{ item[6] }}</td>


                <td>

                    <button
                        type="button"
                        class="btn-foto"
                        onclick="verFoto('{{ item[7] }}', '{{ item[1] }}')">

                        Imagem

                    </button>

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>


    <script>


        function verFoto(url, nome) {

            if (!url || url.trim() === "") {

                Swal.fire({

                    icon: 'warning',

                    title: 'Foto não encontrada',

                    text: 'Este produto não possui uma foto cadastrada.'

                });

                return;

            }


            Swal.fire({

                title: nome,

                imageUrl: url,

                imageAlt: nome,

                showCloseButton: true,

                showConfirmButton: false,

                imageWidth: 500,

                imageHeight: 400

            });

        }


        // ============================
        // PESQUISA NA TABELA
        // ============================

        function filtrarTabela() {

            const input =
                document.getElementById("inputPesquisa");

            const filter =
                input.value.toLowerCase();


            const tabela =
                document.getElementById("tabelinha");


            if (!tabela) return;


            const linhas =
                tabela.getElementsByTagName("tr");


            for (let i = 1; i < linhas.length; i++) {

                let encontrou = false;


                const celulas =
                    linhas[i].getElementsByTagName("td");


                for (let j = 0; j < celulas.length; j++) {

                    const texto =
                        celulas[j].textContent ||
                        celulas[j].innerText;


                    if (
                        texto
                            .toLowerCase()
                            .indexOf(filter) > -1
                    ) {

                        encontrou = true;

                        break;

                    }

                }


                linhas[i].style.display =
                    encontrou ? "" : "none";

            }

        }


    </script>


</body>

</html>